In [5]:
import pandas as pd
import numpy as np
import os
df = pd.read_excel('./produits-courtiers.xlsx')

In [7]:
df2 = (
    df
    .groupby(["Nom courtier","Type d'affaire"])[["Commissions"]]
    .sum()
    .reset_index()
)
df2

    Nom courtier                                Type d'affaire  Commissions
0   Courtier_001                 Détail des affaires différées   25013.2124
1   Courtier_001  Détail des affaires nouvelles commissionnées    4281.3400
2   Courtier_001               Détail des affaires récurrentes     597.2200
3   Courtier_001            Détail des reprises de commissions   -3701.7300
4   Courtier_002               Détail des affaires récurrentes     165.6280
5   Courtier_003  Détail des affaires nouvelles commissionnées    1025.7700
6   Courtier_003            Détail des reprises de commissions   -2079.0700
7   Courtier_003                          Frais de reversement       2.3000
8   Courtier_004                 Détail des affaires différées     400.8580
9   Courtier_005               Détail des affaires récurrentes      24.8100
10  Courtier_006               Détail des affaires récurrentes     378.8900
11  Courtier_007               Détail des affaires récurrentes      27.6400

In [9]:
os.makedirs("./Fichiers")
for Nom_courtier in df2["Nom courtier"].unique():
    df_courtier = df2[df2["Nom courtier"] == Nom_courtier]
    with pd.ExcelWriter(f'./Fichiers/{Nom_courtier}.xlsx') as writer:
        for Type_affaire in df_courtier["Type d'affaire"].unique(): 
            (
                df_courtier[df_courtier["Type d'affaire"]==Type_affaire]
                .to_excel(writer, sheet_name = str(Type_affaire) )
            )

D:\anaconda3\Lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")